.container {
  margin: 5vh;
}
body {
  background-color: antiquewhite;
}
span {
  margin-right: 100vh;
  display: inline-block;
  padding-right: 5vh;
}
p {
  font-size: 22px;
}
h1 {
  text-decoration: underline;
  text-align: center;
  margin-bottom: 80px;
}

.one .box {
  display: inline-block;
  position: relative;
  bottom: 40px;
  left: 60px;
}
.two .box {
  position: relative;
  bottom: 40px;
  left: 60px;
}
